#menu{
    width: 100%;
}
#TableMenu{
    width: 100%;
}
#TapeContent{
    width: 100%
    
}
#ContentTableTape{
    width: 80%;
}
#littlemenu{
    width: 100%;
}
#forlitlemenu{
    width: 30%;
    vertical-align: top;
}
#TableContent{
    
}
body{
    background-color: black;

}
p{
    color:aliceblue;
}
