<!DOCTYPE html>
<html><head><meta http-equiv="Content - Type" content="text / html; charset = UTF - 8">
    <link href="home/css/library.css" rel="stylesheet">
    <link href="home/css/Content.css" rel="stylesheet">
<title>Работает</title>

</head>

<body>


<div id="Menu"  align="center">
<table  id="TableMenu"> 
<tr><td id="TableMenuCell"></td>
<td id="TableMenuCell"> <p align="center">Мой Сайт</p></td>
<td id="TableMenuCell"></td>
</tr>



</table></div>
<div id="TapeContent" align="center">
    <table  id="ContentTableTape">
    <tr>
        
        <td id="ContentCell" align="right">
            <table id="TableContent" ></table>
        </td>

        <td id="TapeContentCell">
            <table id="infotable">
                
            </table>
        </td>
    </tr>
    </table>
</div>
<script src="/Home/JS/Requests.js"></script>
<script>
    getdata();
</script>
</body></html>  
