<!DOCTYPE html>
<html><head><meta http-equiv="Content - Type" content="text / html; charset = UTF - 8">
    <link href="home/css/library.css" rel="stylesheet">
    <link href="home/css/Content.css" rel="stylesheet">
<title>Работает</title>

</head>

<body>


<div id="Menu"  align="center">
<table  id="TableMenu"> 
<tr><td id="TableMenuCell"></td>
<td id="TableMenuCell"> <p align="center">Мой Сайт</p></td>
<td id="TableMenuCell"></td>
</tr>



</table></div>
<div id="TapeContent" align="center">
    <table  id="ContentTableTape">
    <tr>
        
        <td id="ContentCell" align="right">
            <table id="TableContent" ></table>
        </td>

        <td id="TapeContentCell">
            <table id="infotable">
                
            </table>
        </td>
    </tr>
    </table>
</div>
<script>
    async function getdata() {
		
		// отправляет запрос и получаем ответ
		const response = await fetch("/Home/Data", {
			method: "GET",
			headers: { "Accept": "application/json" }
		});
		// если запрос прошел нормально
		if (response.ok) {
			//создание форм из документа
			

            var message = await response.json();

            var postname = message.PostName;
            var nicedayusername = message.nicedayusername;
            

            var table = document.getElementById("TableContent");
            var infotable = document.getElementById("infotable");
            for (let i = 0; i < message.postID.length; i++)
            {
                var row = table.insertRow(i);
               
                
                getPosts(message, i, row)
            }
            {
                var inforow= infotable.insertRow(0);
                inforow.innerHTML = "<p>" + nicedayusername + "</p>"
                var inforow= infotable.insertRow(1);
                
            }


		}

	}
    async function getPosts(message, i, row)
    {
        const response = await fetch("/GetPost/GetPosts/" + message.postID[i], {
			method: "GET",
			headers: { "Accept": "application/json" }
		});
		// если запрос прошел нормально
		if (response.ok) {
            var contentpost = await response.text();
            
            row.innerHTML = "<td id=\""+ message.postID[i] +"\" class=\"contentrow\"><a id=\"titlecontentlink\" href=\"content/index/" + message.postID[i]+"\">"+message.postName[i]+"</a>  "+contentpost+" </td>";
            getlikeofpost(message.postID[i]);
        }




    }
    async function getlikeofpost(id)
    {
        	const response = await fetch("/requests/users", {
			method: "POST",
            headers: { "Accept": "application/json", "Content-Type": "application/json" },
			body: JSON.stringify({
					ID : id
                })
		});
		// если запрос прошел нормально
		if (response.ok) {
			//выбор формы
        var assetsofcontent = await response.json();
        
		 var element = document.createElement("div");
         element.id = "aftercontent";
         element.appendChild(document.createTextNode(assetsofcontent.likes + " likes"));
         
        document.getElementById(id).appendChild(element);
		}
        
    }
    async function addlikes(postid){

    }
    getdata();
</script>
</body></html>  
