<!DOCTYPE html>
<html><head><meta http-equiv="Content - Type" content="text / html; charset = UTF - 8">
    <link href="css/library.css" rel="stylesheet">
<title>Работает</title>

</head>

<body>

<div id="Menu" align="center">
    <table id="TableMenu">
        <tr>
            <td>
                <p align="center">Сайт постов</p>
            </td>
            <td>

            </td>
        </tr>
    </table>
</div>
<div id="TapeContent" align="center">
<table border="1" id="ContentTableTape">
    <tr>
        <td>
            <div id="content">
                <table id="TableContent" border="1">

                </table>
            </div>
        </td>
        <td id="forlitlemenu">
            <div id="littlemenu">
                <table border="1">
                    <tr>
                        <p>hello world</p>
                    </tr>
                    <tr>
                        <p>new world</p>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
</div>
<script>
    async function getdata() {
		
		// отправляет запрос и получаем ответ
		const response = await fetch("/Home/Data", {
			method: "GET",
			headers: { "Accept": "application/json" }
		});
		// если запрос прошел нормально
		if (response.ok) {
			//создание форм из документа
			

            var message = await response.json();

            var postname = message.PostName;

            

            var table = document.getElementById("TableContent");
             
            for (let i = 0; i < message.postID.length; i++)
            {
            var row = table.insertRow(i);
            
            //cell1.innerHTML = "<p>"+message.postName[i]+"</p>";
            row.innerHTML = "<a href=\"content/index/" + message.postID[i]+"\">"+message.postName[i]+"</a>";
            //alert(message.postID.length);
            }
		}

	}
    function add()
    {
        var table = document.getElementById("TableContent");
            var row = table.insertRow(0);
            var cell1 = row.insertCell(0);
            cell1.innerHTML = "<p>hello world</p>";
    }
    getdata();
    //add();
</script>
</body></html>  
